
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    height: 100vh;
}

.footer {
    position: absolute;
    bottom: 0;
    right: 0;
    width: auto;
    height: auto;

    text-align: center;
    /* padding: .2rem; */
    background-color: transparent;
    /* margin-top: 3rem; */
    border-top: 1px solid var(--border-color);
}

.error {
    color: red;
}